<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="MageSuite\ErpConnector\Api\Data\ProviderSearchResultsInterface" type="MageSuite\ErpConnector\Model\Data\ProviderSearchResults"/>
    <preference for="MageSuite\ErpConnector\Api\Data\ProviderInterface" type="MageSuite\ErpConnector\Model\Data\Provider"/>
    <preference for="MageSuite\ErpConnector\Api\ProviderRepositoryInterface" type="MageSuite\ErpConnector\Model\ProviderRepository"/>

    <preference for="MageSuite\ErpConnector\Api\Data\ConnectorSearchResultsInterface" type="MageSuite\ErpConnector\Model\Data\ConnectorSearchResults"/>
    <preference for="MageSuite\ErpConnector\Api\Data\ConnectorInterface" type="MageSuite\ErpConnector\Model\Data\Connector"/>
    <preference for="MageSuite\ErpConnector\Api\ConnectorRepositoryInterface" type="MageSuite\ErpConnector\Model\ConnectorRepository"/>

    <preference for="MageSuite\ErpConnector\Api\Data\ConnectorConfigurationSearchResultsInterface" type="MageSuite\ErpConnector\Model\Data\ConnectorConfigurationSearchResults"/>
    <preference for="MageSuite\ErpConnector\Api\Data\ConnectorConfigurationInterface" type="MageSuite\ErpConnector\Model\Data\ConnectorConfiguration"/>
    <preference for="MageSuite\ErpConnector\Api\ConnectorConfigurationRepositoryInterface" type="MageSuite\ErpConnector\Model\ConnectorConfigurationRepository"/>

    <preference for="MageSuite\ErpConnector\Api\Data\ProviderAdditionalConfigurationSearchResultsInterface" type="MageSuite\ErpConnector\Model\Data\ProviderAdditionalConfigurationSearchResults"/>
    <preference for="MageSuite\ErpConnector\Api\Data\ProviderAdditionalConfigurationInterface" type="MageSuite\ErpConnector\Model\Data\ProviderAdditionalConfiguration"/>
    <preference for="MageSuite\ErpConnector\Api\ProviderAdditionalConfigurationRepositoryInterface" type="MageSuite\ErpConnector\Model\ProviderAdditionalConfigurationRepository"/>

    <type name="MageSuite\ErpConnector\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>

    <type name="MageSuite\ErpConnector\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">arcavisLogger</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">MageSuite\ErpConnector\Logger\Handler</item>
            </argument>
        </arguments>
    </type>

    <type name="MageSuite\ErpConnector\Model\ConnectorPool">
        <arguments>
            <argument name="connectors" xsi:type="array">
                <item name="ftp" xsi:type="array">
                    <item name="class" xsi:type="object">\MageSuite\ErpConnector\Model\Connector\Ftp</item>
                    <item name="configuration" xsi:type="array">
                        <item name="host" xsi:type="string">host</item>
                        <item name="port" xsi:type="string">port</item>
                        <item name="username" xsi:type="string">username</item>
                        <item name="password" xsi:type="string">password</item>
                        <item name="passive_mode" xsi:type="string">passive_mode</item>
                        <item name="source_dir" xsi:type="string">source_dir</item>
                        <item name="destination_dir" xsi:type="string">destination_dir</item>
                        <item name="skip_validation" xsi:type="string">skip_validation</item>
                    </item>
                </item>
                <item name="sftp" xsi:type="array">
                    <item name="class" xsi:type="object">\MageSuite\ErpConnector\Model\Connector\Sftp</item>
                    <item name="configuration" xsi:type="array">
                        <item name="host" xsi:type="string">host</item>
                        <item name="port" xsi:type="string">port</item>
                        <item name="username" xsi:type="string">username</item>
                        <item name="password" xsi:type="string">password</item>
                        <item name="source_dir" xsi:type="string">source_dir</item>
                        <item name="destination_dir" xsi:type="string">destination_dir</item>
                        <item name="skip_validation" xsi:type="string">skip_validation</item>
                    </item>
                </item>
                <item name="soap" xsi:type="array">
                    <item name="class" xsi:type="object">\MageSuite\ErpConnector\Model\Connector\Soap</item>
                    <item name="configuration" xsi:type="array">
                        <item name="wsdl" xsi:type="string">wsdl</item>
                        <item name="version" xsi:type="string">version</item>
                        <item name="login" xsi:type="string">login</item>
                        <item name="password" xsi:type="string">password</item>
                        <item name="location" xsi:type="string">location</item>
                        <item name="action" xsi:type="string">action</item>
                    </item>
                </item>
                <item name="http" xsi:type="array">
                    <item name="class" xsi:type="object">\MageSuite\ErpConnector\Model\Connector\Http</item>
                    <item name="configuration" xsi:type="array">
                        <item name="url" xsi:type="string">url</item>
                        <item name="timeout" xsi:type="string">timeout</item>
                    </item>
                </item>
                <item name="email" xsi:type="array">
                    <item name="class" xsi:type="object">\MageSuite\ErpConnector\Model\Connector\Email</item>
                    <item name="configuration" xsi:type="array">
                        <item name="email" xsi:type="string">email</item>
                        <item name="template" xsi:type="string">template</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>
</config>
