<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="MageSuite\ErpConnector\Api\VaultRepositoryInterface" type="MageSuite\ErpConnector\Model\VaultRepository"/>
    <preference for="MageSuite\ErpConnector\Api\ProviderRepositoryInterface" type="MageSuite\ErpConnector\Model\ProviderRepository"/>
    <preference for="MageSuite\ErpConnector\Api\ConnectorRepositoryInterface" type="MageSuite\ErpConnector\Model\ConnectorRepository"/>
    <preference for="MageSuite\ErpConnector\Api\ConnectorConfigurationRepositoryInterface" type="MageSuite\ErpConnector\Model\ConnectorConfigurationRepository"/>
    <preference for="MageSuite\ErpConnector\Api\ProviderAdditionalConfigurationRepositoryInterface" type="MageSuite\ErpConnector\Model\ProviderAdditionalConfigurationRepository"/>
    <preference for="MageSuite\ErpConnector\Api\SchedulerRepositoryInterface" type="MageSuite\ErpConnector\Model\SchedulerRepository"/>

    <type name="MageSuite\ErpConnector\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>

    <type name="MageSuite\ErpConnector\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">erpConnectorLogger</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">MageSuite\ErpConnector\Logger\Handler</item>
            </argument>
        </arguments>
    </type>

    <type name="MageSuite\ErpConnector\Model\ConnectorResolver">
        <arguments>
            <argument name="connectorsConfiguration" xsi:type="array">
                <item name="ftp" xsi:type="array">
                    <item name="client" xsi:type="object">\MageSuite\ErpConnector\Model\Client\Ftp</item>
                    <item name="fields" xsi:type="array">
                        <item name="host" xsi:type="null"></item>
                        <item name="port" xsi:type="null"></item>
                        <item name="username" xsi:type="null"></item>
                        <item name="password" xsi:type="array">
                            <item name="modifier_class" xsi:type="object">MageSuite\ErpConnector\Model\Modifier\SensitiveModifier</item>
                        </item>
                        <item name="passive_mode" xsi:type="null"></item>
                        <item name="source_dir" xsi:type="null"></item>
                        <item name="destination_dir" xsi:type="null"></item>
                        <item name="skip_validation" xsi:type="null"></item>
                    </item>
                </item>
                <item name="sftp" xsi:type="array">
                    <item name="client" xsi:type="object">\MageSuite\ErpConnector\Model\Client\Sftp</item>
                    <item name="fields" xsi:type="array">
                        <item name="host" xsi:type="null"></item>
                        <item name="username" xsi:type="null"></item>
                        <item name="password" xsi:type="array">
                            <item name="modifier_class" xsi:type="object">MageSuite\ErpConnector\Model\Modifier\SensitiveModifier</item>
                        </item>
                        <item name="timeout" xsi:type="null"></item>
                        <item name="source_dir" xsi:type="null"></item>
                        <item name="destination_dir" xsi:type="null"></item>
                        <item name="skip_validation" xsi:type="null"></item>
                    </item>
                </item>
                <item name="soap" xsi:type="array">
                    <item name="client" xsi:type="object">\MageSuite\ErpConnector\Model\Client\Soap</item>
                    <item name="fields" xsi:type="array">
                        <item name="wsdl" xsi:type="null"></item>
                        <item name="version" xsi:type="null"></item>
                        <item name="login" xsi:type="null"></item>
                        <item name="password" xsi:type="array">
                            <item name="modifier_class" xsi:type="object">MageSuite\ErpConnector\Model\Modifier\SensitiveModifier</item>
                        </item>
                        <item name="location" xsi:type="null"></item>
                        <item name="action" xsi:type="null"></item>
                    </item>
                </item>
                <item name="http" xsi:type="array">
                    <item name="client" xsi:type="object">\MageSuite\ErpConnector\Model\Client\Http</item>
                    <item name="fields" xsi:type="array">
                        <item name="url" xsi:type="null"></item>
                        <item name="login" xsi:type="null"></item>
                        <item name="password" xsi:type="array">
                            <item name="modifier_class" xsi:type="object">MageSuite\ErpConnector\Model\Modifier\SensitiveModifier</item>
                        </item>
                        <item name="authorization_bearer" xsi:type="array">
                            <item name="modifier_class" xsi:type="object">MageSuite\ErpConnector\Model\Modifier\SensitiveModifier</item>
                        </item>
                        <item name="content_type" xsi:type="null"></item>
                        <item name="custom_headers" xsi:type="array">
                            <item name="modifier_class" xsi:type="object">MageSuite\ErpConnector\Model\Modifier\ArrayModifier</item>
                        </item>
                        <item name="timeout" xsi:type="null"></item>
                    </item>
                </item>
                <item name="email" xsi:type="array">
                    <item name="client" xsi:type="object">\MageSuite\ErpConnector\Model\Client\Email</item>
                    <item name="fields" xsi:type="array">
                        <item name="email" xsi:type="null"></item>
                        <item name="template" xsi:type="null"></item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="MageSuite\ErpConnector\Model\SchedulerPool">
        <arguments>
            <argument name="schedulerGroups" xsi:type="array">
                <item name="general" xsi:type="array">
                    <item name="general" xsi:type="object">\MageSuite\ErpConnector\Model\ProviderProcessor\General</item>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Cron\Model\Config">
        <plugin name="add_erp_connector_jobs" type="MageSuite\ErpConnector\Plugin\Cron\Model\Config\AddSchedulerJobs" sortOrder="10" />
    </type>

    <type name="Magento\Cron\Observer\ProcessCronQueueObserver">
        <plugin name="add_pending_erp_connector_jobs" type="MageSuite\ErpConnector\Plugin\Cron\Observer\ProcessCronQueueObserver\AddPendingCronJobs" sortOrder="10" />
    </type>
</config>
